/* ESTILOS GENERALES */
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* CABECERA IDÉNTICA A INICIO */
.cabecera-arte {
    width: 100%;
    height: 60vh;
    background-image: url('logo.jpg'); /* Tu fondo de montañas */
    background-size: cover;
    background-position: center 35%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.cabecera-arte h1 {
    
    color: white;
    font-size: 3.5rem;
    font-family: 'Arial Black', sans-serif;
    text-align: center;
    /* ESTO ES LO QUE DA EL EFECTO DORADO/RELIEVE */
    text-shadow: 2px 2px 0px #b8860b, 
                 4px 4px 10px rgba(0,0,0,0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
}

    

.menu {
    position: absolute;
    bottom: 20px;   /* Lo baja a la parte inferior de la acuarela */
    right: 50px;    /* Lo separa del borde derecho */
    display: flex;
    gap: 25px;      /* Les da aire entre ellos */
}

.menu a {
    text-decoration: none;
    /* COLOR DORADO/BEIGE PARA QUE COINCIDA */
    color: #f5f5dc; 
    font-weight: 900; /* Para que la letra sea más gorda */
    font-family: 'Arial Black', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    /* SOMBRA NEGRA PARA QUE NO SE PIERDA */
    text-shadow: 2px 2px 4px rgba(0,0,0,1); 
    transition: 0.3s;
}

.menu a:hover {
    color: gold; /* Que brille al pasar el ratón */
    transform: scale(1.1);
}

